#ingredients {
	width: 300px;
	vertical-align: top;
}

#ingredients h3 {
	background-image: url(/img/ingredients.png);
	background-repeat: no-repeat;
	background-size: 20px;
	padding-left: 26px;
}

#ingredients h4 {
	margin: 2em 0 0.5em 0;
}

#ingredients .ammount {
	font-weight: bolder;
	padding-right: 1em;
}

#ingredients table {
	margin-bottom: 2em;
}

#ingredients table:last-child
{
  margin-bottom: 0;
}

#steps {
	margin-top: 2em;
}

#steps h3 {
	background-image: url(/img/instructions.png);
	background-repeat: no-repeat;
	background-size: 24px;
	padding-left: 30px;
}

#steps ol {
	padding: 0 2em;
}

#steps li {
	margin: 1em 0;
}

.edge {
	background-image: url(/img/edge.png);
	background-size: 18px;
	width: 100%;
	height: 10px;
	position: absolute;
	top: 350px;
}